<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>This is a high quality data set that required minimal cleaning of data. It did however require some manipulation to get proper results from during 
        exploratory analysis. The data was explored in Trifacta Wrangler and Numbers. </a></p>
      </div>

    
      <div class="page-header">
      	<div class ="row">
			<h2>Is the data complete?</h2>
			
			<p>If not, what is missing and what concerns does it raise?
			What is your evidence for this?</p>
			
			<ul> 
				<li>The data is divided into two tables, results and stats. Each table contains information about 39 teams that have played in the 
				EPL since 2006.</li>
				<li>38 matches are played in each season, as such the number of games in table also shows completeness. (Total 4560 which is equal to 38 x 12)</li>
				<li>While the tables are complete and contain all relevant data from 2006 onwards, they are missing all data from 1992 to 2006.</li>
				<li>This data cannot be completed using any of the normal estimation practices since it does not follow a fixed pattern, however, it is not 
				needed to answer many interesting questions about the EPL since 2006. No inferences can be made about the EPL as a whole because of the 14 years of missing data.</li>
				<br/><li>To  verify that the data was complete, summary graphs on Wrangler were used to verify that there were no cells with missing data.</li>
				<li>The total values for the team columns was then compared to the list available on the official EPL <a href="https://www.premierleague.com/results">website.</a> This proved that the data was complete.</li>
				<li>The image below shows the Wrangler summary graphs for the results table. The stats table is not used in this project.</li>
			</ul>
			
			<div class="col-md-12">
				<img class= "img-responsive" alt="wrangler summary" src="static/images/wrangler.png"></img>
			</div>	
		</div>
	
      </div>
      
      <div class="page-header">
			<h2>Is the data coherent?</h2>
			<p>Does it make sense relative to itself? Does it match your
			expectations? Are the distributions sensible? What is your
			evidence for this?</p>
			
			<ul> 
				
				<li>The data is coherent and makes sense relative to itself and to expectations.</li>
				<li>As seen in the summary information above, there are 39 teams in the data which has been verified. </li>
				<li>The goals scored at home range from <strong> 0-9</strong> and away goals range from <strong>0-7</strong>. This matches intuitive expectations.</li>
				<li>There are only 3 possible outcomes in a game, win, draw or lose. It can be seen above that no extra values are included in the data. </li>
				<br/>
				<li>To add more relevant data a total_goals column was made that aggregated home and away to show total number of goals in a match. </li>
				<li>The distributions make sense as there are some teams (considered the better teams) that have never been relegated (meaning they have never left the EPL) 
				and as such there will be more entries for the better known teams like Manchester United and Liverpool. </li>
				<li>In addition to the wrangler summaries, the data at the EPL website and on <a href="https://en.wikipedia.org/wiki/List_of_Premier_League_clubs">Wikipedia </a>was useful in determining coherency. </li>
				<br/><li>A very interesting insight from this exploratory data analysis is that 'home field advantage' is definitely real. We can see from the stats below that the average home
				score is much higher than the average away score. Also, total home wins is nearly double of total away wins, despite the same number of matches being played.</li>
				<li>Further, the following details were captured from exploratory analysis:</li>
				
			</ul>
			
			<div class="col-md-12">
				<img class= "img-responsive" alt="numbers summary" src="static/images/numbers.png"></img>
			</div>	
			
	
	
	
	
      </div>

      <div class="page-header">
			<h2>Is the data correct?</h2>
			<p>What aspects of this data can you verify? How did you do so? What did
			you find?</p>
			
			<ul> 
				
				<li>The data has been sourced directly from the EPL website, as such it is verified by the original owner and authors of the data.</li>
				<li>It is correct and to verify this, a random sample of rows was compared to news data to ensure correctness. </li>
				<li>Any obvious outliers (such as the single highest score) were verified against news data available online to ensure the data was correct.  </li>

				
			</ul>
			
			

      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
